@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    /* background: #16c79a; */
    background: #8801A5;
}


.encabezado__ancla{
    max-width: 100%;
}

.encabezado__logo{
    width: 60px;
    height: 60px;
    display: block;
}

.encabezado{
    /* background-color: gray; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    /*background: linear-gradient(90deg, rgba(170,135,176,1) 0%, rgba(136,1,165,1) 35%);*/
    background: #fff;
    box-shadow: 0px 10px 10px -1px rgba(0,0,0,0.41);
    margin-bottom: 20px;
}

.menu__items{
    display: inline;
}

.menu__items a{
    text-decoration: none;
    color: #8801A5;
    font-weight: bolder;
    margin: 5px;
}

.menu__items a:hover{
    opacity: .5;
}




/* TEXTOS */
.textos__info{
    width: 100%;     
}

.principal{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 716px;
    background: #8801A5;
    /* border: 1px solid red; */
}

.principal__textos{
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: 20px auto;
}

.principal__textos--caja{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 80%;
    margin: 20px auto;
}

.principal__textos--caja h2{
    font-size: 50px;
}

.principal__img{
    max-width: 48%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.principal__imagen{
    /* border: 1px solid lime; */
    width: 90%;
    height: 300px;
    margin: 0 auto;
}

.principal__botones{
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid lime; */
}

.boton{
    width: 40%;
    height: 60px;
    margin: 10px auto;
	background-color: #01A8EE;
	color: #fff;
	font-weight: bolder;
    font-size: 18px;
	border: none;
	border-radius: 15px;
    /* align-self: center; */
}

.boton:last-child{
    background: none;
    border: 1px solid #01A8EE;
    color: #01A8EE;
}

/* .boton:last-child{
    margin-left: 5px;
} */

.boton:hover{
    transition: 1s;
	opacity: .6;
    cursor: pointer;
}





/* LOGIN */
.login{
    width: 100%;
    background: #8801A5;
    margin: 0px auto;    
}

.login__form{
    display: flex;
    flex-direction: column;
    border: 1px solid #8801A5; 
    /* background: #11698e; */
    background: #fff;
    border-radius: 45px;
    width: 80%;
    height: 400px; 
    margin: 20px auto;
}

.login__title{
    text-align: center;
    margin: 0px auto;
    color: #fff;
}


.login__nombre{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 100%;
}

.form__label{
    /* border: 1px solid red; */
    width: 65%;
    margin: 0px auto;
    font-size: 15px;
    margin-bottom: 5px;
    color: #8801A5;
}

.form__input{
    border: 1px solid hidden;
    width: 65%;
    height: 30px;
    margin: 0px auto;
    padding-left: 10px;
    background: none;
    color: #8801A5;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #8801A5;
    /* border: 1px solid lime; */

}

.form__input:focus{
    border-bottom: 1px solid #01A8EE;
    transition: .5s;
}

.login__contrasena{
    display: flex;
    flex-direction: column;
}

.entrar{
    width: 150px;
    padding: .4em;
    margin: 0 auto;
    font-size: 18px;
    color: #fff;
    margin-top: 45px;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    border: 1px solid #fff;
    background: #01A8EE;
    text-transform: uppercase;
}

.entrar:hover{
    color: #01A8EE;
    background: #fff;
    border: 1px solid #01A8EE;
    transition: .2s;
}

.login__registrarse{
    /* display: inline-flex; */
    color: #8801A5;
    font-size: 15px;
    margin: 35px auto;
    text-align: center;
    width: 80%;
}

.login__registrarse a{
    color: #01A8EE;
}




/* SECTION INFORMACIÓN DEL PROYECTO  / NOSOTROS */
.info{
    width: 100%;
    background: #fff;
    margin-top: 35px;
    padding-top: 15px;
}

.info__title{
    color: #8801A5;
    text-align: center;
    
}

.info__textos{
    width: 80%;
    margin: 5px auto;
}

.info__textos p{
    text-align: justify;
}

.info__textos h3{
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
}

.info__textos--proyecto,
.info__textos--mision,
.info__textos--vision{
    width: 100%;
    height: 400px;
    margin: 20px auto;
    color: #fff;
    padding: 20px;
    border-radius: 50px;
    background: #8801A5;
}


/* INFO DESARROLLADORES */
.info__des{
    width: 100%;
    /* border: 1px solid lime; */
    padding-bottom: 18px;
}

.info__des--tittle{
    color: #8801A5;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.info__des--content{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #8801A5;
    margin-bottom: 15px;
}


.info__devs--img{
    display: block;
    max-width: 60%;
    border-radius: 60%;
    margin: 10px auto;
    border: 1px solid #8801A5;
}

.info__des--nb{
    width: 70%;
    margin: 15px auto;
    color: #8801A5;
}


/* COMENTARIOS */
.comentarios{
    width: 100%;
    margin: 30px auto;    
}

.comentarios__form{
    width: 80%;
    height: 450px;
    border-radius: 20px;
    margin: 0 auto;
    background: #fff;
}

.comentarios__titulo h6{
    text-align: center;
    margin: 15px 0;
    padding: 15px 0;
    font-size: 24px;
    color: #8801A5;
}

.comentarios__form--abajo{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    /* margin-bottom: 15px;    */
}

.form__labelC{
    color: #8801A5;
    /* font-weight: bolder; */
    /* margin-bottom: .2rem; */
}

.form__inputC{
    background: none;
    border: none;
    outline: none;
    color: #01A8EE;
    border: none;
    border-bottom: 1px solid #8801A5;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    transition: .2s;
    width: 100%;
}

.form__inputC:focus{
    border-bottom: 1px solid #01A8EE;
    transition: .5s;
}

.form__textarea{
    resize: none;
    outline: none;
    height: 100px;
    margin-top: 10px;
}

.form__enviar{
    margin: 25px auto;
    width: 150px;
    height: 45px;
    border-radius: 15px;
    outline: none;
    border: 1px solid transparent;
    background: #01A8EE;
}

.form__enviar:hover{
    border: 1px solid #01A8EE;
    cursor: pointer;
    background: #fff;
    color: #01A8EE;
    transition: .5s;
}



/* FOOTER */
.footer{
    /* border: 1px solid red; */
    width: 100%;
    height: 220px;
    background: #8801A5;
}

.footer__container{
    width: 80%;
    /* border: 1px solid lime; */
    margin: 0px auto;
    padding: 30px 0;
    

}

.footer__header--title{
    text-align: center;
    font-size: 22px;
    padding: 15px 0;
    color: #fff;
    

}

.footer__link{
    text-align: center;
    text-decoration: none;
    display: block;
    color: #fff;
}

.botonArriba{
    width: 100%;
    display: flex;
    justify-content: center;
}

.botonArriba a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}
    


/* TAMAÑOS */
@media screen and (min-width: 680px){

    .principal__imagen{
        width: 68%;
    }

    .login__title{
        margin-top: 20px;
    }

    .login__form{
        width: 50%;
    }

    .info__textos--mision,
    .info__textos--proyecto,
    .info__textos--vision{
        width: 88%;
    }

    .login__registrarse p a{
        display: block;
    }

    .info__des--content{
        width: 70%;
    }

    .comentarios__form{
        width: 70%;
    }
}      

@media screen and (min-width: 1120px){

    .encabezado{
        padding: 10px 30px;
        position: fixed;
    }

    .principal__imagen{
        height: 360px;
    }

    .textos__info{
        display: flex;
        padding-top: 110px;
    }

    .principal{
        height: 790px;
    }
    
    .principal__textos--caja{
        margin-top: 0;
    }

    .login{
        padding-top: 50px;
    }

    /* SECCIÓN DE INFO PROYECTO */
    .info{
        position: sticky;        
    }
    .info__textos{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .info__textos--mision,
    .info__textos--proyecto,
    .info__textos--vision{
        width: 30%;
        overflow: auto;
    }

    .info__des{
        padding-bottom: 50px;
    }

    .info__des--content{
        display: flex;
        width: 90%;
        justify-content: space-evenly;        
    }

    .info__des--nb{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .info__devs--img{
        max-width: 14%;
    }

    .comentarios{
        padding: 20px 0; 
        margin-top: 0; 
        position: sticky;
        background: #8801A5;      
    }

    .comentarios__form{
        width: 90%;
        height: 550px;
    }

    .form__textarea{
        height: 120px;
    }

    .comentarios__form--abajo{
        margin-bottom: 10px;
    }

    .form__enviar{
        padding: .1rem;
        color: #fff;
        font-weight: bolder;
    }

}
