@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.encabezado__ancla{
    max-width: 100%;
}

.encabezado__logo{
    width: 50px;
    height: 50px;
    display: block;
}

.encabezado{
    /* background-color: gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #16c79a;
}

.menu__items{
    display: inline;
}

.menu__items a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    margin: 5px;
}



.principal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 586px;
    background: #16c79a;
    /* border: 1px solid red; */
}

.principal__textos{
    display: flex;
    color: #fff;
    margin: 20px auto;
}

.principal__textos--caja{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.principal__textos--caja h2{
    font-size: 90px; 
}

.principal__img{
    max-width: 38%;
}

.principal__imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.principal__botones{
    display: flex;
    padding-left: 100px;
}

.boton{
    width: 100px;
    height: 50px;
    margin-top: 20px;
	background-color: #19456b;
	color: #fff;
	font-weight: bolder;
	border: none;
	border-radius: 15px;
    /* align-self: center; */
}

.boton:last-child{
    margin-left: 3px;
}

.boton:hover{
    transition: 1s;
	background-color: #fff;
	color: black;
	cursor: pointer;
	border: 1px solid  #19456b;
}

/* estilos a la tarjeta */
.info__textos--proyecto,
.info__textos--mision,
.info__textos--vision{
    width: 350px;
    height: 400px;
    margin: .3em auto;
    color: #fff;
    padding: 23px;
    border-radius: 50px;
    background: linear-gradient(45deg, #173e60, #1b4a72);
    box-shadow:  5px -5px 10px #153958,
                -5px 5px 10px #1e517e;
    transition: .1s;

}

/* HOVER EFFECT */
.info__textos--proyecto:hover{
    transition: .5s;
    border-radius: 50px;
    background: linear-gradient(45deg, #e6e6e6, #ffffff);
    box-shadow:  1px -1px 10px #d1d1d1,
                -1px 1px 10px #ffffff;
    cursor: pointer;
    color: black;
}

.info__textos--mision:hover{
    transition: .5s;
    border-radius: 50px;
    background: linear-gradient(45deg, #e6e6e6, #ffffff);
    box-shadow:  1px -1px 10px #d1d1d1,
                -1px 1px 10px #ffffff;
    cursor: pointer;
    color: black;
}

.info__textos--vision:hover{
    transition: .5s;
    border-radius: 50px;
    background: linear-gradient(45deg, #e6e6e6, #ffffff);
    box-shadow:  1px -1px 10px #d1d1d1,
                -1px 1px 10px #ffffff;
    cursor: pointer;
    color: black;
}

.info__textos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 700px;
    background: #19456b;
}

.info__textos h3{
    padding: 10px;
}

.info__textos p{
    padding: 15px;
}

.info__textos--proyecto,
.info__textos--mision,
.info__textos--vision{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TARJETAS INFO DESARROLADORES */
.info__des img{
    display: inline;
    max-width: 10%;
    /* border: solid 1px black; */
    border-radius: 60%;
}

.info__des{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    padding: 30px;
    background: #16c79a;
}
.info__des--nb{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.info__des--nb p{
    margin-top: 15px;
}


.info__des--1,
.info__des--2,
.info__des--3{
    display: flex;
    /* justify-content: flex-end; */
    width: 100%;
    /* height: 400px; */
    margin-top: 30px;
    padding: 15px;
    color: #fff;
    border-radius: 50px;
}

.info__des--1,
.info__des--2,
.info__des--3{
    border-radius: 35px;
    background: linear-gradient(145deg, #14b38b, #18d5a5);
    box-shadow:  5px 5px 10px #14b98f,
             -5px -5px 10px #18d5a5;
}

/* COMENTARIOS */
.comentarios{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    background: #11698e;
    /* border: 1px solid black; */
    color: #fff;
    
}



.comentarios__form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 350px;
    padding-top: 263px;
}

.comentarios__titulo{
    font-size: 34px;
    align-self: center;
    padding-top: 55px;
}

.comentarios__form--abajo{
    display: flex;
    flex-direction: column;
}



.form__label{
    margin-bottom: 1rem;
    font-weight: bolder;
}

.form__input{
    background: none;
    border: none;
    outline: none;
    color: inherit;
    border-radius: 45px;
    border: 2px solid #fff;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    transition: .2s;
}

.form__input:focus{
    border: 2px solid #16c79a;
    transition: .5s;
}

.form__textarea{
    resize: none;
    border: 1ps solid black;
    width: 750px;
    border-radius: 15px;
    flex-basis: 170px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 3px;
    outline: none;
    font-size: 18px;
}

.form__enviar{
    width: 40%;
    background: #16c79a;
    border: 1px solid transparent;
    padding: .8rem;
    border-radius: 20px;
    margin-top: 25px;
    align-self: center;
    color: inherit;
    font-weight: bolder;
    outline: none;
}

.form__enviar:hover{
    border: 1px solid #16c79a;
    cursor: pointer;
    background: #fff;
    color: #16c79a;
    transition: .5s;
}

